# This file is used by Flex Tool Bar to create buttons on your Tool Bar.
# For more information how to use this package and create your own buttons,
#   read the documentation on https://atom.io/packages/flex-tool-bar

[
  {
    type: "url"
    icon: "mark-github"
    url: "http://github.com"
    tooltip: "Github Page"
    style:
      color: "#4078C0"
  }
  {
    type: "button"
    icon: "globe"
    callback: "open-in-browser:open"
    tooltip: "Open In Browser"
  }
  {
    type: "button"
    icon: "document"
    callback: "appliction:new-file"
    tooltip: "New File"
    iconset: "ion"
  }
  {
    type: "button"
    icon: "repo"
    tooltip: "Toggle Projects"
    callback: "project-manager:list-projects"
  }
  {
    type: "spacer"
  }
  {
    type: "button"
    icon: "gear"
    callback: "flex-tool-bar:edit-config-file"
    tooltip: "Edit Tool Bar"
  }
  {
    type: "spacer"
  }
  {
    type: "button"
    icon: "circuit-board"
    callback: "git-diff:toggle-diff-list"
    tooltip: "Git Diff"
    style:
      color: "#FA4F28"
  }
  {
    type: "button"
    icon: "terminal"
    callback: "terminal-plus:toggle"
    tooltip: "Toggle Terminal"
    style:
      color: "#FA4F28"
  }
]
